

<style>

</style>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <h2>Bicycle Entry</h2>
            <div class="row form-group">
                <label class="col-md-2 col-form-label" style="padding-top:5px;"> Bicycle</label>





                <div class="col-md-4">
                    <select id="BicycleId" name="BicycleId" class="form-control" asp-items="ViewBag.BicycleId" disabled></select>

                </div>





                <label class="col-md-2 col-form-label" style="padding-top:5px;">Date Inspected</label>
                <div class="col-md-4">
                    <input id="Date" name="Date" class="form-control" disabled value="@ViewBag.CreatedAt" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 col-form-label" style="padding-top:5px;"> Name of Owner</label>
                <div class="col-md-4">
                    <input id="NameOwner" name="NameOwner" class="form-control" disabled />
                </div>
                <label class="col-md-2 col-form-label" style="padding-top:5px;"> Brand Name</label>
                <div class="col-md-4">
                    <input id="BrandName" name="BrandName" class="form-control" disabled />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 col-form-label" style="padding-top:5px;"> Company</label>
                <div class="col-md-4">
                    <input id="Company" name="Company" class="form-control" disabled />
                </div>
                <label class="col-md-2 col-form-label" style="padding-top:5px;"> Department</label>
                <div class="col-md-4">
                    <input id="Department" name="Department" class="form-control" disabled />
                </div>
            </div>
            <br />
            <table class="table table-bordered" id="tblBicycle">
                <thead>
                    <tr>
                        <th style="width:5%;">Item No</th>
                        <th style="width:55%;">Parts Description To Be Checked</th>
                        <th style="width:5%;">Safe</th>
                        <th style="width:5%;">UnSafe</th>
                        <th style="width:30%;">Remarks</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td rowspan="9" style="text-align:center; vertical-align:middle;font-size:24px">1</td>
                        <td colspan="4">FRAME AND FIT</td>
                    </tr>
                    <tr>
                        <td colspan="4">Frame</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Are tubes in line and free of dents, bends?</li>
                                <li>Are the connection/welding of the frame intact?</li>
                                <li>Is the frame size appropriate for the height of the cyclist?</li>
                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<input class="form-check-input" type="checkbox" id="FrameSafe" name="FrameSafe" value="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>*@
                            <input type="radio" id="FrameSafe" name="Frame" value="FrameSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<input class="form-check-input" type="checkbox" id="FrameUnSafe" name="FrameUnSafe" value="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>*@
                            <input type="radio" id="FrameUnSafe" name="Frame" value="FrameUnSafe">
                        </td>
                        <td contenteditable="true" id="FrameRemarks"></td>
                    </tr>
                    <tr>
                        <td colspan="4">Front Fork</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Is the fork free of dents,bends and good condition?</li>
                                <li>Fork turn freely inside of headset?</li>
                                <li>Is the fork free of jolt? (Bearings are ok? / tightening is ok?)</li>
                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="FrontForkSafe" name="FrontForkSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="FrontForkSafe" name="FrontFork" value="FrontForkSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="FrontForkUnSafe" name="FrontForkUnSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="FrontForkUnSafe" name="FrontFork" value="FrontForkUnSafe">
                        </td>
                        <td contenteditable="true" id="FrontForkRemarks"></td>
                    </tr>
                    <tr>
                        <td colspan="4">Handlebars</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Handle bars in line with front wheel?</li>
                                <li>Handle bars do not move when you hold the front wheel between your leg and try to twist?</li>
                                <li>Grips tight, in good condition?</li>
                                <li>Basket is properly installed in front handle bar?</li>
                                <li>Are reflectors properly installed in front and at the rear of the frame for proper visiblity</li>
                                <li>Are lights properly installed?</li>
                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="HandlebarSafe" name="HandlebarSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="HandlebarSafe" name="Handlebar" value="HandlebarSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="HandlebarUnSafe" name="HandlebarUnSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="HandlebarUnSafe" name="Handlebar" value="HandlebarUnSafe">
                        </td>
                        <td contenteditable="true" id="HandlebarRemarks"></td>
                    </tr>
                    <tr>
                        <td colspan="4">Seat</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Saddle in good condition (no damage)</li>
                                <li>Saddle and seat post does not move when you grab hold and try to twist it side to side or up and down</li>

                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="SeatSafe" name="SeatSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="SeatSafe" name="Seat" value="SeatSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="SeatUnSafe" name="SeatUnSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="SeatUnSafe" name="Seat" value="SeatUnSafe">
                        </td>
                        <td contenteditable="true" id="SeatRemarks"></td>
                    </tr>
                    <tr>
                        <td rowspan="3" style="text-align:center; vertical-align:middle;font-size:24px;">2</td>
                        <td colspan="4">AIR AND WHEELS</td>
                    </tr>
                    <tr>
                        <td colspan="4">Front and Rear Wheels</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Tire (Inflation) : Inflated properly and valve stem right?</li>
                                <li>Tire (Casing) : Good tread and no side wall damage?</li>
                                <li>Rims : No dent, twist, or kinks?</li>
                                <li>Alignment : When spun, wheel is true and centered in stays?</li>
                                <li>Complete wheel-spoke "rayos" and no bend?</li>
                                <li>Bearing : Wheel spins freely and evenly and does not wiggle?</li>
                                <li>Bike stand is peroperly installed?</li>
                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="FrontRearSafe" name="FrontRearSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="FrontRearSafe" name="FrontRear" value="FrontRearSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="FrontRearUnSafe" name="FrontRearUnSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="FrontRearUnSafe" name="FrontRear" value="FrontRearUnSafe">
                        </td>
                        <td contenteditable="true" id="FrontRearRemarks"></td>
                    </tr>
                    <tr>
                        <td rowspan="3" style="text-align:center; vertical-align:middle;font-size:24px;">3</td>
                        <td colspan="4">BRAKES</td>
                    </tr>
                    <tr>
                        <td colspan="4">Disc Brake/V-Brake/Caliper Brake (Front and Rear)</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Cable taut, No frayed ends?</li>
                                <li>Caliber brake centered adn tight?</li>
                                <li>Nuts tight on brake shoe?</li>
                                <li>Brake pads are ok?</li>
                                <li>Front and rear brakes operate effectively and smoothly?</li>

                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="BrakeSafe" name="BrakeSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="BrakeSafe" name="Brake" value="BrakeSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="BrakeUnSafe" name="BrakeUnSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="BrakeUnSafe" name="Brake" value="BrakeUnSafe">
                        </td>
                        <td contenteditable="true" id="BrakeRemarks"></td>
                    </tr>
                    <tr>
                        <td rowspan="5" style="text-align:center; vertical-align:middle;font-size:24px;">4</td>
                        <td colspan="4">CRANK AND CHAIN</td>
                    </tr>
                    <tr>
                        <td colspan="4">Cranks and Pedals</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Crank and turns freely and evenly. no looseness or binding, not bent?</li>
                                <li>Pedals tight, intact, no binding, free spinning?</li>


                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="CrankChainSafe" name="CrankChainSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="CrankChainSafe" name="CrankChain" value="CrankChainSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="CrankChainUnSafe" name="CrankChainUnSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="CrankChainUnSafe" name="CrankChain" value="CrankChainUnSafe">
                        </td>
                        <td contenteditable="true" id="CrankChainRemarks"></td>
                    </tr>
                    <tr>
                        <td colspan="4">Chain</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Chain clean and feee of rust, lubricated?</li>
                                <li>No excessive looseness?</li>
                                <li>Chain guard secure, free of chain?</li>

                            </ul>
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="ChainSafe" name="ChainSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="ChainSafe" name="Chain" value="ChainSafe">
                        </td>
                        <td style="text-align:center;vertical-align:middle;">
                            @*<div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="ChainUnSafe" name="ChainUnSafe" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>*@
                            <input type="radio" id="ChainUnSafe" name="Chain" value="ChainUnSafe">
                        </td>
                        <td contenteditable="true" id="ChainRemarks"></td>
                    </tr>
                </tbody>
            </table>
            <div class="ibox-content">

                <h4>
                    Note
                </h4>
                <div class="alert alert-warning">
                    Bike must meet item marked "SAFE" prior to use
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label style="font-weight:bold;">Inspected By</label>
                        <input class="form-control col-md-4" id="InspectedBy" name="InspectedBy" disabled />
                        <label>Safety Inspector</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="font-weight:bold;">Noted By</label>
                        <input class="form-control col-md-4" id="NotedBy" name="NotedBy" disabled />
                        <label>Safety Supervisor</label>
                    </div>
                </div>

            </div>
            <br />
            <p>

                <a href="#" onclick="saveBicycleData();">
                    <i class="fa fa-check"></i>
                    <span class="email-text">&nbsp;Save</span>
                </a>

                <text> |&nbsp; </text>




                <a href="#" onclick="print('@ViewBag.ID','rptBicycle');">
                    <i class="fa fa-print"></i>
                    <span class="print">&nbsp;Print</span>
                </a>

                <text> |&nbsp; </text>
                <a class="aApprove" href="#" onclick="proceed();">
                    <i class="fa fa-check-square"></i>
                    <span class="save">&nbsp;Approve</span>
                </a>


            </p>
            <a asp-action="Index">Back to List</a>
        </div>
           
        </div>
</div>


<script>
    $(function () {
            loadDatatableEdit();
    })
    function proceed() {
        
        data = [];

        
        data.push('@ViewBag.ID');

        

        $.ajax({
        url: "@Url.Action("Approve","Home")"
            , method: "POST"
            , data: { id: data, docstatus: "For Approval", equipmenttype : "bc" }
            , dataType: 'json'
            , success: function (responsedata) {
                if (responsedata.status == "success") {
                    toastr["success"]("Data approved!", "<b>Success</b> ")
                    
                } else {
                    toastr["error"](responsedata.message)
                    toastr.options = {
                        "closeButton": true,
                        "showDuration": "3000",
                    }
                }
            }
        })
     
    }


        $("input[type=text]").keyup(function () {
            $(this).val($(this).val().toUpperCase());
    });
    function loadDatatable(_Bicycle) {

        var data = [];

         $.ajax({
                        url: "@Url.Action("getDataPerIdentificationNo")"
                            , method: "POST"
                            , dataType: 'json'
                            , data: { BicycleId: _Bicycle }
                            , success: function (responsedata) {
                                console.log("XXXX")
                                if (responsedata.status == "success") {

                                    $("#NameOwner").val(responsedata.data[0].nameOwner);
                                    $("#BrandName").val(responsedata.data[0].brandName);
                                    //$("#Plant").val(responsedata.data[0].contactNo);

                                    
                                } 

                            }
            });

    }
    function dataClearBicycleData() {
        $("#tblBicycle td[contenteditable=true]").each(function () {
            $(this).html('');
        });
        $("#tblBicycle input[type='checkbox']").each(function () {
            $(this).prop('checked', 0);
        });
    }

        function loadDatatableEdit() {

       
        dataClearBicycleData();
        

         $.ajax({
                        url: "@Url.Action("getDataPerIdentificationNoEdit", "BicycleEntry")"
                            , method: "POST"
                            , dataType: 'json'
             , data: { HeaderId: @ViewBag.ID}
                            , success: function (responsedata) {
                               
                                if (responsedata.status == "success") {

                                    $("#NameOwner").val(responsedata.data[0].nameOwner);
                                    $("#BrandName").val(responsedata.data[0].brandName);
                                    $("#Company").val(responsedata.data[0].company);
                                    $("#Department").val(responsedata.data[0].department);


                                    if (responsedata.data[0].documentStatus === "Approved") {
                                        disableProp = "disabled= 'disabled'"
                                    } else {
                                        disableProp = ""
                                    }


                                    $("#tblBicycle td[contenteditable=true]").each(function () {
                                        if (disableProp == "") {

                                        } else {
                                            $(this).removeAttr('contenteditable',true);
                                        }
                                       
                                    });
                                    $("#tblBicycle input[type='radio']").each(function () {
                                        console.log(this);
                                        $(this).prop('disabled', disableProp);
                                    });


                                    if (responsedata.datadetail != null) {
                                        
                                        $('#FrameSafe').prop('checked', responsedata.datadetail.frameSafe);
                                       

                                        $('#FrameUnSafe').prop('checked', responsedata.datadetail.frameUnSafe);
                                        $('#FrameRemarks').html(responsedata.datadetail.frameRemarks);

                                        $('#FrontForkSafe').prop('checked', responsedata.datadetail.frontForkSafe);
                                        $('#FrontForkUnSafe').prop('checked', responsedata.datadetail.frontForkUnSafe);
                                        $('#FrontForkRemarks').html(responsedata.datadetail.frontForkRemarks);

                                        $('#HandlebarSafe').prop('checked', responsedata.datadetail.handlebarSafe);
                                        $('#HandlebarUnSafe').prop('checked', responsedata.datadetail.handlebarUnSafe);
                                        $('#HandlebarRemarks').html(responsedata.datadetail.handlebarRemarks);

                                        $('#SeatSafe').prop('checked', responsedata.datadetail.seatSafe);
                                        $('#SeatUnSafe').prop('checked', responsedata.datadetail.seatUnSafe);
                                        $('#SeatRemarks').html(responsedata.datadetail.seatRemarks);

                                        $('#FrontRearSafe').prop('checked', responsedata.datadetail.frontRearSafe);
                                        $('#FrontRearUnSafe').prop('checked', responsedata.datadetail.frontRearUnSafe);
                                        $('#FrontRearRemarks').html(responsedata.datadetail.frontRearRemarks);

                                        $('#BrakeSafe').prop('checked', responsedata.datadetail.brakeSafe);
                                        $('#BrakeUnSafe').prop('checked', responsedata.datadetail.brakeUnSafe);
                                        $('#BrakeRemarks').html(responsedata.datadetail.brakeRemarks);

                                        $('#CrankChainSafe').prop('checked', responsedata.datadetail.crankChainSafe);
                                        $('#CrankChainUnSafe').prop('checked', responsedata.datadetail.crankChainUnSafe);
                                        $('#CrankChainRemarks').html(responsedata.datadetail.crankChainRemarks);

                                        $('#ChainSafe').prop('checked', responsedata.datadetail.chainSafe);
                                        $('#ChainUnSafe').prop('checked', responsedata.datadetail.chainUnSafe);
                                        $('#ChainRemarks').html(responsedata.datadetail.chainRemarks);

                                        $('#InspectedBy').val(responsedata.datadetail.inspectedBy);
                                        $('#NotedBy').val(responsedata.datadetail.notedBy);


                                    }


                                }

                            }
            });
         






        }
        function saveBicycleData() {

        var data = [];

            $("#tblBicycle input[type='radio']").each(function () {
            $name = $(this).prop('id');
            $name_value = 0;
            if ($(this).is(':checked')) {
                $name_value = 1;
            } else {
                $name_value = 0;
            }
            data.push({ name: $name, value: $name_value });
        });



        $("#tblBicycle td[contenteditable=true]").each(function () {
            $name = $(this).prop('id');
            $name_value = document.getElementById($name).innerHTML;
            $name_value = $name_value.replace("<br>", "");
            data.push({ name: $name, value: $name_value });
        });
        data.push({ name: "BicycleId", value: $("#BicycleId").val() });

            data.push({ name: "InspectedBy", value: $("#InspectedBy").val() });
            data.push({ name: "NotedBy", value: $("#NotedBy").val() });

            console.log(data);
        $.ajax({
            url: "@Url.Action("CreateModifyBicycle", "BicycleEntry")"
            , method: "POST"
            , data: data
            , dataType: 'json'
            , success: function (responsedata) {

                if (responsedata.status == "success") {

                    toastr["success"]("Data saved!","<b>Success</b>")
                    toastr.options = {
                        "showDuration": "2000",
                    }

                    $('#No').val(responsedata.refno);
                    $('#MDDAFId').val(responsedata.id);
                    $('#DocumentStatusId').val(responsedata.documentStatusId);
                } else {

                    toastr["error"](responsedata.message)
                    toastr.options = {
                        "closeButton": true,
                        "showDuration": "3000",
                    }
                }
            }
        })


    }
       function print($refid,$rpt) {
        window.open('@Url.Action("printReport", "Reports")?ReferenceId=' + $refid+ '&Report=' + $rpt + '&rptType=PDF');
    }
</script>
