@model SEMSystem.Models.Bicycle

@{
    ViewData["Title"] = "Delete";
}

    <div class="ibox-content">

        <h3>Are you sure you want to delete this?</h3>
        <div>
          
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NameOwner)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NameOwner)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ContactNo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ContactNo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BrandName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BrandName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IdentificationNo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdentificationNo)
                </dd>


            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
